<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="./about-room-1.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<div id="about-room-1-body">
  <div class="container">

	<div data-am-fadeshow="next-prev-navigation autoplay">

		<!-- Radio -->
		<input type="radio" name="css-fadeshow" id="slide-1" />
		<input type="radio" name="css-fadeshow" id="slide-2" />
		<input type="radio" name="css-fadeshow" id="slide-3" />

		<!-- Slides -->
		<div class="fs-slides">
			<div class="fs-slide" style="background-image: url(https://images.unsplash.com/photo-1460500063983-994d4c27756c?crop=entropy&fit=crop&fm=jpg&h=1325&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=2550);">
				<!-- Add content to images (sample) -->

			</div>
			<div class="fs-slide" style="background-image: url(https://images.unsplash.com/photo-1440557653082-e8e186733eeb?crop=entropy&fit=crop&fm=jpg&h=1325&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=2500);"></div>
			<div class="fs-slide" style="background-image: url(https://images.unsplash.com/photo-1449057528837-7ca097b3520c?crop=entropy&fit=crop&fm=jpg&h=1325&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=2500);"></div>
		</div>

		<!-- Quick Navigation -->
		<div class="fs-quick-nav">
			<label class="fs-quick-btn" for="slide-1"></label>
			<label class="fs-quick-btn" for="slide-2"></label>
			<label class="fs-quick-btn" for="slide-3"></label>
		</div>

		<!-- Prev Navigation -->
		<div class="fs-prev-nav">
			<label class="fs-prev-btn" for="slide-1"></label>
			<label class="fs-prev-btn" for="slide-2"></label>
			<label class="fs-prev-btn" for="slide-3"></label>
		</div>

		<!-- Next Navigation -->
		<div class="fs-next-nav">
			<label class="fs-next-btn" for="slide-1"></label>
			<label class="fs-next-btn" for="slide-2"></label>
			<label class="fs-next-btn" for="slide-3"></label>
		</div>

	</div>

</div>
  <div class="about-room-1">
    <h1>Follow the footsteps of the great detective himself!</h1>
    <p>I am GROOT! I aaam Grrrooot; I aam GROOT? I aaAaam Groot! I am Grrrooot. I AM Grrrrrooooot. I aaAaam Grroot. I AM Groot. I am Grooot. I am grooot. I aaam groot? I aaAaam grOOt! I aaAaam grooot? I am Grooot. I am groot. I aaAaam groot.</p>
  </div>
  <div class="button-row">
    <button ng-click="testClick()" class="buttons" id="schedule-button" type="button" name="button">Purchase Tickets</button>
    <button ng-click="showInfo()" class="buttons" id="info-button" type="button" name="button">Room Info</button>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script type="text/javascript" src="about-room-1.js"></script>
</div>
</html>
