<!DOCTYPE html>
<html>
<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <link rel="stylesheet" href="room1.css">
  <link href="https://fonts.googleapis.com/css?family=Germania+One|Gloria+Hallelujah|Nosifer|Rye" rel="stylesheet">
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div style="overflow-x: hidden;" id="main">
    <a style="cursor:pointer" ng-click="previous()"><img id="arrow" src="https://www.materialui.co/materialIcons/navigation/arrow_back_white_192x192.png" alt=""></a>
    <div id="floating-text">
      <h1 id="one">Can you</h1>
      <h1 id="two">find him</h1>
      <h1 id="three">before it's</h1>
      <h1 id="four">too late?</h1>
    </div>
      <iframe ng-style="iframeStyle" id="iframe_id"></iframe>
      <img id="main-background" src="./finding_sherlock.png" alt="">
      <div class="button-row">
        <button ng-click="testClick()" class="buttons" id="schedule-button" type="button" name="button">Purchase Tickets</button>
        <!-- <button ng-click="showInfo()" class="buttons" id="info-button" type="button" name="button">Room Info</button> -->
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./room-scheduling/app.js"></script>
    <script type="text/javascript" src="./room-scheduling/main.js"></script>
  </body>
  </html>
