body {
  width: 100vw;
  height: 100vh;
  background-color: #400f0f;
  margin: 0px;
  padding: 0px;
  transition: background-color .5s;
}

#floating-text {
  height: 90%;
  width: 60%;
  top: 32%;
  right: 120px;
  left: 0px;
  margin: auto;
  height: 270px;
  align-items: center;
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#main {
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#iframe_id {
  position: relative;
  opacity: 0;
  height: 0px;
  border-width: 0px;
  margin-top: 50px;
  transition: opacity .5s;
}

button:focus {
  outline:0;
}

.buttons {
  font-family: 'Archivo', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  background-color: white;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  border-width: 0px;
}

#button-row {
  height: 100px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@keyframes oneFade {
  0% {
    opacity: 0;
    transform: translateY(-.1in);
  }
  100% {
    opacity: 1;
    transform: translateY(0in);
  }
}

@keyframes twoFade {
  0% {
    opacity: 0;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes threeFade {
  0% {
    opacity: 0;
    transform: rotateY(60deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes fourFade {
  0% {
    opacity: 0;
    transform: rotateX(180deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes initialLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main-background {
  opacity: 1;
  width: 500px;
  margin: 0px;
  position: relative;
  z-index: -1;
  transition: all .5s;
  animation: 2s ease-in 0s 1 initialLoad;
  /*animation-fill-mode: forwards;*/
}

#one {
  margin: 0px;
  padding-left: 20px;
  opacity: 0;
  font-family: 'Rye', cursive;
  font-weight: normal;
  animation: .5s ease-in 0s 1 oneFade;
  animation-fill-mode: forwards;
}

#two {
  margin: 0px;
  padding-left: 90px;
  opacity: 0;
  font-family: 'Germania One', cursive;
  font-weight: normal;
  animation: .5s ease-in .35s 1 twoFade;
  animation-fill-mode: forwards;
}

#three {
  margin: 0px;
  padding-left: 70px;
  opacity: 0;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: normal;
  animation: .5s ease-in .7s 1 threeFade;
  animation-fill-mode: forwards;
}

#four {
  margin: 0px;
  padding-left: 150px;
  opacity: 0;
  font-family: 'Nosifer', cursive;
  font-weight: normal;
  animation: .5s ease-in 1.2s 1 fourFade;
  animation-fill-mode: forwards;
}

@media only screen and (max-width : 420px) {

  @keyframes oneFade {
    0% {
      opacity: 0;
      transform: translateY(-.1in);
    }
    100% {
      opacity: .5;
      transform: translateY(0in);
    }
  }

  @keyframes twoFade {
    0% {
      opacity: 0;
      transform: scale(1.1, 1.1);
    }
    100% {
      opacity: .5;
      transform: scale(1, 1);
    }
  }

  @keyframes threeFade {
    0% {
      opacity: 0;
      transform: rotateY(60deg);
    }
    100% {
      opacity: .5;
      transform: rotateY(0deg);
    }
  }

  @keyframes fourFade {
    0% {
      opacity: 0;
      transform: rotateX(180deg);
    }
    100% {
      opacity: .5;
      transform: rotateX(0deg);
    }
  }

  #main {
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #main-background {
    opacity: 1;
    width: 80%;
    margin: 0px;
    position: relative;
    z-index: -1;
    transition: all .5s;
    animation: 2s ease-in 0s 1 initialLoad;
    /*animation-fill-mode: forwards;*/
  }

  #one {
    margin: 0px;
    width: 100%;
    padding-left: 10%;
    opacity: 0;
    font-family: 'Rye', cursive;
    font-weight: normal;
    animation: .5s ease-in 0s 1 oneFade;
    animation-fill-mode: forwards;
    font-size: 2em;
  }

  #two {
    margin: 0px;
    width: 100%;
    padding-left: 30%;
    opacity: 0;
    font-family: 'Germania One', cursive;
    font-weight: normal;
    animation: .5s ease-in .35s 1 twoFade;
    animation-fill-mode: forwards;
    font-size: 2em;
  }

  #three {
    margin: 0px;
    width: 100%;
    padding-left: 15%;
    opacity: 0;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: normal;
    animation: .5s ease-in .7s 1 threeFade;
    animation-fill-mode: forwards;
    font-size: 2em;
  }

  #four {
    margin: 0px;
    width: 100%;
    padding-left: 45%;
    opacity: 0;
    font-family: 'Nosifer', cursive;
    font-weight: normal;
    animation: .5s ease-in 1.2s 1 fourFade;
    animation-fill-mode: forwards;
    font-size: 2em;
  }

  #floating-text {
    height: 30vh;
    width: 60%;
    top: 20%;
/*     right: 120px; */
    left: 15%;
    margin: auto;
/*     height: 270px; */
    align-items: center;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #button-row {
    height: 150px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* position: absolute; */
    /* bottom: 0px; */
    /* padding: 10px; */
    align-items: center;
  }

  .buttons {
    opacity: 0;
    font-family: 'Archivo', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: black;
    background-color: white;
    height: 55px;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    border-width: 0px;
    animation: .5s ease-in 2s 1 initialLoad;
    animation-fill-mode: forwards;
  }


}
